<h2>parent works!</h2>
<!-- {{reciveEmpDetails|json}}............. -->
    <h3>Child to Parent</h3>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Address</td>
            <td>PinCode</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of reciveEmpDetails">
            <td>
                <!-- {{item.name}} -->
                {{item.name}}

            </td>
            <td>
                {{item.age}}
            </td>
            <td>
                {{item.gender}}
            </td>
            <td>
                {{item.address.city }}
            </td>
            <td>
                {{item.address.pincode }}
            </td>
        </tr>
    </tbody>
</table>

<p>Child Message : {{getMsgFromChildAfteView}}</p>
<!-- <h1>Child Message : {{reciveemployeeDetails}}</h1> -->
<div class="box" [style]="style">
    <ul>
        <li *ngFor="let item2 of reciveemployeeDetails">
            {{item2.name}}
        </li>
    </ul>
</div>


<!-- <h1>{{reciveEmpDetails|json}}..</h1> -->

<app-child (sendEmpDetails)="getEmpDetails($event)"  [recivePerson]="sendPerson" (sendcolor)="reciveColor($event)"></app-child>

